.addButton {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
} 

#addDressButton{
    margin-top: 20px;
}

.admin-container{
    padding: 0px 70px;
    display: flex;
    margin-top: 40px;
    justify-content: space-between;
}

.admin-product-table{
    margin-right: 20px;
}

button .fas{
    margin-right: 0px;
}

.table td{
    vertical-align: middle;
}

.btn{
    margin-right: 20px;
}

@media (max-width: 1000px){
    .admin-container{
        flex-direction: column-reverse;
    }
    .admin-product-table{
        margin-right: 0px;
    }
}

@media(max-width: 620px){
    .admin-container{
        padding: 0px 20px;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 470px){
    .admin-product-table{
        transform: scale(0.8);
        transform-origin: center;
    }
}

@media(max-width: 350px){
    .admin-product-table{
        transform: scale(0.75);
        transform-origin: center;
    }

    .addButton{
        transform: scale(0.8);
        transform-origin: center;
    }
}

.addProduct-container{
    height: 90vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }

#addDressButton{
    margin-top: 0px;
}


.addproduct-form {
    width: 400px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 5px 10px #111;
    padding: 0 40px;
}

@media (max-width: 850px){
    .add-product-image{
        display: none;
    }
}

@media(max-width: 440px){
    .addproduct-form{
        width: 290px;
        padding: 0 15px;
    }
}